<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>木柚咖啡</title>
        <link rel="stylesheet" type="text/css" href="./css/base.css">
        <!--<link rel="stylesheet" type="text/css" href="./css/idangerous.swiper.css">-->
		<meta charset="UTF-8">
		<style type="text/css">
            .pd { width:100%; padding-bottom:15px;    margin-top: 45px;}
            .jfDiv {float: left; border-bottom:1px solid #131313;width:100%; height: 65px;display:block;}
        </style>
	</head>
	<body>
		<div class="top">
	        <a href="./user.html" class="back"></a>
	        <span class="tit">我的优惠券</span>
	        <a href="./index.html" class="backhome"></a>
	    </div>
	    
	    <div class="pd">
	        <div class="jfDiv">
	            <div style="float:left">
	                <p style="font-size: 18px;color: #fff;text-align:left; margin-top: 10px; margin-left: 10px;">优惠券A</p>
	                <p style="font-size: 13px;color: #959595;text-align:left; margin-top: 5px; margin-left: 10px;margin-bottom: 10px">123123123123</p>
	            </div>
	            <p style="font-size: 18px;color: #959595;text-align:right; margin-top: 15px; margin-right: 10px;margin-bottom: 10px;float:right">15yuan</p>
	        </div>
	        <div class="jfDiv">
	            <div style="float:left">
	                <p style="font-size: 18px;color: #fff;text-align:left; margin-top: 10px; margin-left: 10px;">优惠券B</p>
	                <p style="font-size: 13px;color: #959595;text-align:left; margin-top: 5px; margin-left: 10px;margin-bottom: 10px">123123123123</p>
	            </div>
	            <p style="font-size: 18px;color: #959595;text-align:right; margin-top: 15px; margin-right: 10px;margin-bottom: 10px;float:right">15yuan</p>
	        </div>
	        <div class="jfDiv">
	            <div style="float:left">
	                <p style="font-size: 18px;color: #fff;text-align:left; margin-top: 10px; margin-left: 10px;">优惠券c</p>
	                <p style="font-size: 13px;color: #959595;text-align:left; margin-top: 5px; margin-left: 10px;margin-bottom: 10px">123123123123</p>
	            </div>
	            <p style="font-size: 18px;color: #959595;text-align:right; margin-top: 15px; margin-right: 10px;margin-bottom: 10px;float:right">15yuan</p>
	        </div>
	        <div class="jfDiv">
	            <p style="font-size: 18px;color: #959595;text-align:center;margin-top:15px;">没有更多了</p>
	        </div>
	    </div>
	</body>
</html>
