<html>
    <head>
        <title>木柚咖啡</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/stylesheets/bootstrap.min.css"-->
        <!--link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/stylesheets/bootstrap-theme.min.css"-->
        <!--script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script-->
        <!--script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->
        <link rel="stylesheet" href="/stylesheets/base.css">
    </head>

    <body>
        <div class="top">
            <a href="/index.html" class="back"></a>
            <span class = "tit">个人中心</span>
            <a href="/index.html" class="backhome"></a>
        </div>

        <div class="userinfo">
            <img class="userhead" src="<%= headimgurl %>">
            <span class="num">尊贵会员</span>
            <span class="username"><%= nickname %></span>
        </div>

        <a href="/points" class="black">
            <img class = "leftimg" src="/images/usercenter1.png">
            <span class = "name">我的积分</span>
            <img class = "rightclose" src="/images/wclose.png">
            <span class="gright">0</span>
        </a>

        <a href="/coupon" class="black" style="margin-bottom:15px;">
            <img class = "leftimg" src="/images/usercenter1.png">
            <span class = "name">我的优惠券</span>
            <img class = "rightclose" src="/images/wclose.png">
            <span class="gright"><%= couponcount %></span>
        </a>

        <a href="/addtioninfo" class="black" style="margin-bottom:15px;">
            <img class = "leftimg" src="/images/usercenter1.png">
            <span class = "name">个人资料</span>
            <img class = "rightclose" src="/images/wclose.png">
        </a>

        <a href="#" class="black">
            <img class = "leftimg" src="/images/usercenter1.png">
            <span class = "name">聚会</span>
            <img class = "rightclose" src="/images/wclose.png">
        </a>

        <a href="#" class="black">
            <img class = "leftimg" src="/images/usercenter1.png">
            <span class = "name">新品菜单</span>
            <img class = "rightclose" src="/images/wclose.png">
        </a>
    </body>
</html>
